// ======================================================
// Components :: Button
// ======================================================

.btn {
  @include text-font($default-family, $text-md, $font-weight-bold, $line-height-btn-primary);
  @extend %inline-flex;
  @extend %justify-center;
  @extend %cursor-pointer;
  @extend %border-0;
  border-radius: 16px;
  margin: 12px 0;
  padding: 16px 24px;

  @include only-for-tablet() {
    margin: 12px 24px 12px 0;
  }

  &-primary {
    background-color: $bg-color-btn-primary;
    color: $color-secondary;
  }

  &-secondary {
    background-color: $bg-color-btn-secondary;
    color: $color-btn-secondary;
    border: 2px solid $color-btn-secondary;

    &.caret-right {
      position: relative;
      padding: 10px 24px 10px 44px;
    
      &:before {
        content: '';
        position: absolute;
        top: 16px;
        left: 24px;
        border-left: 8px solid #272E35;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }
  }

  &-disabled {
    cursor: default;
    border: 2px solid $border-disabled;
  }

  &-container {
    @extend %inline-flex;
    @extend %flex-column;

    @include only-for-tablet() {
      display: block;
      flex-direction: row;
    }
  }
}