// ======================================================
// Components :: Error
// ======================================================

.error {
  &-container {
    @extend %flex;
    @extend %item-center;
    @extend %justify-center;
    color: $color-danger;
    padding: 50px 0;
  }

  &-icon {
    font-size: $text-lg;
    padding: 0 5px;
  }

  &-message {
    font-size: $text-lg;
  }
}
